/gamePlatform/nbproject/private/
/gamePlatform/build/
/gamePlatform/dist/
/게임플랫폼/nbproject/private/
/게임플랫폼/dist/
/게임플랫폼/build/
/game/nbproject/private/
/game/dist/
/game/build/
/nbproject/private/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/fxTest/nbproject/private/
/fxTest2/nbproject/private/
*.ini
*.prefs
*.gitignore
